body {
  font-family: 'proxima-nova', 'proxima nova', 'helvetica neue', 'helvetica',
    'arial', sans-serif;
  color: #444;
}

a {
  color: #0069ff;
}

.btn {
  background-color: #3eaaaf !important;
}
